name: Despliegue de Portafolio

on:
  push:
    branches:
      - production  # Solo se activa cuando haces merge o push a production

jobs:
  build-and-deploy:
    runs-on: self-hosted
    # Añadimos un entorno para mayor seguridad
    environment: production 
    
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Construir imagen Docker
        run: |
          docker build -t portafolio-nextjs:latest .

      - name: Limpiar contenedor anterior
        run: |
          docker stop portafolio-app || true
          docker rm portafolio-app || true

      - name: Iniciar contenedor Docker
        run: |
          docker run -d \
            --name portafolio-app \
            -p 3000:3000 \
            --restart always \
            -e NODE_ENV=production \
            -e SMTP_HOST="${{ secrets.SMTP_HOST }}" \
            -e SMTP_PORT="${{ secrets.SMTP_PORT }}" \
            -e SMTP_SECURE="${{ secrets.SMTP_SECURE }}" \
            -e SMTP_USER="${{ secrets.SMTP_USER }}" \
            -e SMTP_PASS="${{ secrets.SMTP_PASS }}" \
            -e SMTP_FROM="${{ secrets.SMTP_FROM }}" \
            -e SMTP_TO="${{ secrets.SMTP_TO }}" \
            -e MY_GITHUB_TOKEN="${{ secrets.MY_GITHUB_TOKEN }}" \
            portafolio-nextjs:latest

      - name: Eliminar imágenes antiguas
        run: docker image prune -f