name: Deploy

on:
  push:
    branches:
      - production

jobs:
  build-and-deploy:
    runs-on: portafolioWeb 
    environment:
      name: production
    
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Construir imagen Docker
        run: |
          docker build \
            --build-arg MY_GITHUB_TOKEN="${{ secrets.MY_GITHUB_TOKEN }}" \
            -t portafolio-nextjs:${{ github.sha }} .
          
          # Etiquetamos también como latest por buena práctica
          docker tag portafolio-nextjs:${{ github.sha }} portafolio-nextjs:latest

      - name: Detener y eliminar contenedor anterior
        run: |
          # El flag -f (force) detiene y elimina en un solo paso y no falla si no existe
          docker rm -f portafolio-app || true

      - name: Iniciar contenedor Docker
        env:
          SMTP_HOST: ${{ secrets.SMTP_HOST }}
          SMTP_PORT: ${{ secrets.SMTP_PORT }}
          SMTP_SECURE: ${{ secrets.SMTP_SECURE }}
          SMTP_USER: ${{ secrets.SMTP_USER }}
          SMTP_PASS: ${{ secrets.SMTP_PASS }}
          SMTP_FROM: ${{ secrets.SMTP_FROM }}
          SMTP_TO: ${{ secrets.SMTP_TO }}
          MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: |
          docker run -d \
            --name portafolio-app \
            --network web_network \
            --restart always \
            -p 127.0.0.1:3001:3000 \
            -e NODE_ENV=production \
            -e HOSTNAME="0.0.0.0" \
            -e SMTP_HOST="$SMTP_HOST" \
            -e SMTP_PORT="$SMTP_PORT" \
            -e SMTP_SECURE="$SMTP_SECURE" \
            -e SMTP_USER="$SMTP_USER" \
            -e SMTP_PASS="$SMTP_PASS" \
            -e SMTP_FROM="$SMTP_FROM" \
            -e SMTP_TO="$SMTP_TO" \
            -e MY_GITHUB_TOKEN="$MY_GITHUB_TOKEN" \
            portafolio-nextjs:${{ github.sha }}

      - name: Limpiar imágenes antiguas
        run: |
          # Elimina imágenes que quedaron sin nombre (dangling) para ahorrar espacio
          docker image prune -f